---
# variables for ansible-pull
# 
#
running_as_ansible_pull: True
slurm_munge_key_from_nfs: True

# This is needed if adminMailAddr is is secrets.yml
# which is not synced in ansible-pull-script.sh
adminMailAddr: "{{ adminMailAddr }}"

# These are needed in here as the addresses are populated from ansible host_vars facts, 
# which aren't available from other hosts when running ansible-pull
ntp_config_server: [ "{{ hostvars[groups['install'][0]]['ansible_hostname'] }}", "{{ hostvars[groups['admin'][0]]['ansible_hostname'] }}" ]
slurm_service_node: "{{ hostvars[groups['slurm_service'][0]]['ansible_hostname']  }}"
